# folders
.idea
.vscode

# doc
/.venv
**/.env
test/
*.sql
test/

# cmake
build/
cmake-build-debug

# files
*.xml
*.iml
run.shmain.c
*.a
*.o
*vgcore*
main.c
main

# examples
examples/*
!examples/*.[ch]